/* DMSans */

@font-face {
  font-family: "DM Sans";
  src: url("/src/assets/fonts/DMSans/DMSans-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/src/assets/fonts/DMSans/DMSans-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* SelineaBonique */

@font-face {
  font-family: "Selinea Bonique";
  src: url("/src/assets/fonts/SelineaBonique/SelineaBonique.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Baskerville */

@font-face {
  font-family: "Baskerville";
  src: url("/src/assets/fonts/Baskerville/URW-Baskerville-W01-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Lavolta */

@font-face {
  font-family: "Lavolta";
  src: url("/src/assets/fonts/Lavolta/Lavolta.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lavolta Swash";
  src: url("/src/assets/fonts/Lavolta/LavoltaSwash.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lavolta Swash";
  src: url("/src/assets/fonts/Lavolta/LavoltaSwashItalic.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
