@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-dmsans: "DM Sans";
  --font-selinea: "Selinea Bonique";
  --font-baskerville: "Baskerville";

  /* Font sizes */
  --text-boton: clamp(8px, 1.40625vw, 18px);
  --text-boton-active: clamp(6.8px, 1.171875vw, 15px);
  --text-direcciones: clamp(9.36px, 1.647059vh, 14px);
  --text-paragraph: clamp(8px, 1.484375vw, 19px);
  --text-body-md: clamp(9.28px, 1.71875vw, 22px);
  --text-letter-title: clamp(27px, 5vw, 64px);
  --text-letter-title-bigger: clamp(33.75px, 6.25vw, 80px);
  --text-boton-grande: clamp(9px, 1.5625vw, 20px);
  --text-boton-normal: clamp(8px, 1.40625vw, 18px);
  --text-paper: clamp(8px, 1.40625vw, 18px);
  --text-paper-height: clamp(8px, 1.8vh, 18px);
  --text-phone-rotation: clamp(14px, 3.733333vw, 47.79px);
  --text-selinea-rotation: clamp(64px, 17.066667vw, 218.45px);
  --text-frase: clamp(28px, 5vw, 64px);
  --text-contact-title: clamp(12px, 2.1875vw, 28px);
  --text-caption: clamp(7px, 1.25vw, 16px);
  --text-footer-caption: clamp(6.8px, 1.171875vw, 15px);
  --text-card: clamp(5px, 1.1vw, 16px);
  --text-card-subtitle: clamp(5.44px, 0.9375vw, 12px);

  /* Colors */
  --color-nude: #eeece0;
  --color-gris: #33302b;
  --color-cafe: #513a2b;
  --color-cafe-claro: #7f6d60;
  --color-amarillo: #efe181;
  --color-verde: #374432;
  --color-verde-claro: #6c7464;
  --color-whatsapp: #008000;
}

@layer base {
  * {
    @apply transition-colors duration-150;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  @apply font-dmsans;
}

.linear-gradient-shadow {
  @apply absolute inset-0 -z-10 bg-linear-to-b from-[#C1BDAC]/85 from-20% via-[#DDDACC]/0 via-40% to-[#E9E6D7] dark:from-[#33302B]/85 dark:via-[#2D2B28]/0 dark:to-[#2D2B28];
}

.linear-gradient-normal {
  @apply absolute bg-linear-to-b from-[#C1BDAC]/85 from-20% via-[#DDDACC]/0 via-40% to-[#E9E6D7] dark:from-[#33302B]/85 dark:via-[#2D2B28]/0 dark:to-[#2D2B28];
}

.gradient-inicio {
  @apply absolute inset-0 -z-10 bg-linear-to-b from-nude/85 via-nude/75 via-30% to-nude/55 dark:from-gris/95 dark:via-gris/90 dark:to-gris/65;
}

.gradient-inicio-phone-rotation {
  @apply absolute inset-0 bg-linear-to-b from-nude/85 via-nude/75 via-30% to-nude/55 dark:from-gris/95 dark:via-gris/90 dark:to-gris/65;
}

/* EMBLA Carousel */
.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

/* Gallery Carousel (Embla) */
.gallery {
  max-width: 1280px;
  margin: auto;
}

.gallery__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.gallery_slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 18%;
  min-width: 0;
}
